<div class="post-meta small-caps">
    {{^has visibility="public"}}
        {{> "icons/lock"}}
    {{/has}}

    {{#if featured}}
        {{> "icons/fire"}}
    {{/if}}

    {{#primary_tag}}
        {{#is "post"}}
            <a href="{{url}}" title="{{name}}" class="tag tag-{{slug}}">{{name}}</a>
        {{else}}
            <span class="tag">{{name}}</span>
        {{/is}}
    {{/primary_tag}}

    {{#if @custom.show_author}}
        {{#primary_author}}
            {{#is "post"}}
                <a href="{{url}}" title="{{name}}" class="author author-{{slug}}">{{name}}</a>
            {{else}}
                <span>{{name}}</span>
            {{/is}}
        {{/primary_author}}
    {{/if}}

    <a href="{{url}}">
        <time datetime="{{date format="dddd, MMMM Do YYYY, h:mm:ss a"}}">{{date format="D MMM, YYYY"}}</time>
    </a>

    {{^is "post"}}
        {{#has tag="#link-post"}}
            {{#if canonical_url}}
                {{!-- &#9734; is a hollow star --}}
                <a href="{{url}}">&#9734;</a>
            {{/if}}
        {{/has}}
    {{/is}}

    {{comment_count autowrap="span"}}
</div>