{{!< default}}

<article class="gh-post">
    {{#author}}
        <header class="gh-post-head gh-canvas">
            {{#if profile_image}}
                <div class="author-profile-image" style="background-image: url({{profile_image}});">
                    <img src="{{profile_image}}" alt="{{name}}" />
                </div>
            {{/if}}

            <div class="post-meta small-caps">
                A collection of {{plural ../pagination.total empty='zero posts' singular='% post' plural='% posts'}}
            </div>

            <h2 class="post-title">{{name}}</h2>

            {{#if bio}}
                <p class="post-excerpt">{{bio}}</p>
            {{/if}}
        </header>
    {{/author}}

    <div class="gh-content gh-canvas">
        <hr style="margin-top: 0;">
        <ol reversed>
            {{#foreach posts}}
                <li><time class="post-meta small-caps" datetime="{{date format="YYYY-MM-DD"}}">{{date format="Do MMMM, YYYY"}}</time> <br><a href="{{url}}">{{title}}</a></li>
            {{/foreach}}
        </ol>
    </div>
</article>

<div class="gh-pagination">
    {{pagination}}
</div>
