<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{meta_title}}</title>
    {{ghost_head}}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200..700&family=Lora:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

    <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#111111" media="(prefers-color-scheme: dark)">

    <style>
        :root {
            --custom_dark_mode_accent_color: {{@custom.dark_mode_accent_color}};
        }
    </style>
</head>
<body class="{{body_class}}">

    <div class="outer-wrapper">
        <header class="gh-head">
            <div class="inner">
                <a href="{{@site.url}}">
                    {{#if @site.logo}}
                        <img class="site-logo" src="{{img_url @site.logo absolute="true"}}" height="50" alt="{{@site.title}}" />
                    {{else}}
                        <h2>{{@site.title}}</h2>
                    {{/if}}
                </a>

                {{#if @site.description}}
                    <p>{{@site.description}}</p>
                {{/if}}

                <input type="checkbox" id="gh-nav-toggle" class="gh-nav-toggle">
                <label for="gh-nav-toggle" class="gh-nav-toggle-faux">
                    <svg viewBox="0 0 70 46">
                        <rect width="70" height="6"></rect>
                        <rect y="20" width="70" height="6"></rect>
                        <rect y="40" width="70" height="6"></rect>
                    </svg>
                </label>

                <div class="gh-nav">
                    {{navigation}}
                    {{navigation type="secondary"}}

                    <ul class="nav">
                        <li>
                            <a class="js-theme-toggle" href="#" data-system-label="System theme" data-dark-label="Dark theme" data-light-label="Light theme">
                                System theme
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <main>
            {{{body}}}
        </main>
    </div>

    <footer class="page-footer">
        <a href="https://ghost.org" target="_blank" rel="noopener">Publish with Ghost</a>
    </footer>

    {{ghost_foot}}

    {{> "scripts"}}

</body>
</html>
