<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{meta_title}}</title>
    {{ghost_head}}

    <link rel="DNS-prefetch" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" media="screen" href="{{asset "built/screen.css"}}" />
    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap">

    <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#111111" media="(prefers-color-scheme: dark)">

    <style>
        :root {
            --custom_dark_mode_accent_color: {{@custom.dark_mode_accent_color}};
        }
    </style>
</head>
<body class="{{body_class}}">

    {{> "header"}}

    <main>
        {{{body}}}
    </main>

    <footer class="page-footer">
        <div class="page-footer-inner">
            <a class="js-theme-toggle" href="#" data-system-label="Using system theme" data-dark-label="Using dark theme" data-light-label="Using light theme">
                System theme
            </a>

            {{#if @site.secondary_navigation}}
                <div class="page-footer-nav">
                    {{navigation type="secondary"}}
                </div>
            {{else}}
                <div></div>
            {{/if}}

            <a class="page-footer-ghost" href="https://ghost.org" target="_blank" rel="noopener">Proudly published with Ghost</a>
        </div>
    </footer>

    {{ghost_foot}}

    {{> "scripts"}}

</body>
</html>
