{{!< default}}

<div class="gh-container gh-padded">
    <div class="gh-postfeed">
        <article class="post">
            <div class="post-text">
                {{#tag}}

                    {{#if feature_image}}
                        <figure class="post-image">
                            <img src="{{img_url feature_image size="l"}}"
                                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                            />
                        </figure>
                    {{/if}}

                    <div class="post-meta small-caps">
                        A collection of {{plural ../pagination.total empty='zero posts' singular='% post' plural='% posts'}}
                    </div>
                    <h2 class="post-title">{{name}}</h2>

                    {{#if description}}
                        <p class="post-excerpt">{{description}}</p>
                    {{/if}}

                    <div class="gh-content post-content">
                        <hr>
                        <ol>
                            {{#get "posts" limit="all" filter="tag:{{slug}}"}}
                                {{#foreach posts}}
                                    <li><time class="small-caps" datetime="{{date format="YYYY-MM-DD"}}">{{date format="Do MMMM, YYYY"}}</time> <br><a href="{{url}}">{{title}}</a></li>
                                {{/foreach}}
                            {{/get}}
                        </ol>
                    </div>
                {{/tag}}
            </div>
        </article>
    </div>
</div>
